@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  /* height: 25vh; */
}

header h1{
  color: whitesmoke;
  text-align: center;
  padding: 20px;
}

h1 {
color: whitesmoke;
}

h2 {
  color: whitesmoke;
  }

main section{
  height: 25vh;
  display: flex;
  /* flex-direction: column; */
  gap: 20px
  }

main {
  height: 25vh;
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  /* flex-wrap: wrap; */
}

